.group-content
  .new-comment-content
    .show-content__theme
      = @theme.title

    = form_for [@theme, @comment], id: "new_comment" do |f|
      .new-content__form
        = f.text_area :text, placeholder: 'コメント', cols: "30", rows: "5", class: 'new-content__theme__text', id: 'editor'
        %link{:href => "https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css", :rel => "stylesheet"}/
        %script{:src => "https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"}
        :javascript
          var simplemde = new SimpleMDE({ element: document.getElementById("editor") });
        = f.submit value: '投稿', class: 'new-content__form__submit'