.group-content
  .title お題
  .contents
    - @themes.each do |theme|
      = link_to theme_path(theme), class: 'content__theme__title' do
        .content
          .content__theme 
            = theme.title
          .content__comment
            .content__comment__title
              コメント数:
            .content__comment__number
              = theme.comments.count
  
  = paginate(@themes)



  