.header
  .header-content
    %h1.header-content__left Great happiness
    %ul.header-content__right
      %li.header-content__right__list お題
      %li.header-content__right__list 画像
.group-content
  .title お題
  .contents
    .content
      .content__theme しりとり
      .content__comment-i 3
    .content
      .content__theme しりとり
      .content__comment-i 3
    .content
      .content__theme しりとり
      .content__comment-i 3
    